<%- include("parts/header") %>
<% var data = data || [] %> 


<div class="content my-3  " style="padding:80px 0px;">
  <div class="container">
    <h2 class="text-center text-light h1  mb-4"> List of ads</h2>
    <ul class="content-list  d-flex justify-content-between align-items-center flex-wrap">
    



      <% data.forEach(function(item)  { %>
      <li class="content-item mt-3">
        <div class="card" style="width:19rem;">
          <img src="<%= item.img  %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">
              <%= item.adsName  %>
            </h5>
            <p class="card-text">
              <%= item.adsAbout  %>
            </p>
            <p>Narxi: <%= item.price   %> so'm </p>
            <p><%= item.address  %> </p>
            <div class="d-flex justify-content-between">
              <a href="tel:<%= item.number  %> class=" btn btn-primary"><%= item.number  %> </a>
              <p class="text-info ms-2 mt-2"><%= item.time  %> </p>
            </div>
          </div>
        </div>
      </li>

      <% }) %>

    </ul>
  </div>
</div>


<%- include("parts/footer") %>